<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <h2>Update User</h2>

    <form action="/users/update" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${user.name}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${user.email}" required>
        <br>
        <button type="submit">Update User</button>
    </form>

    <a href="/users/all">Back to User List</a>
</body>
</html>
